<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ng-href="#/" ng-class="{ active: isActive('/')}">
        <span class="glyphicon glyphicon-home"></span> InitiativeJS
      </a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ng-class="{ active: isActive('/add/player')}"><a ng-href="#/add/player">Add Players</a></li>
        <li ng-class="{ active: isActive('/add/npc')}"><a ng-href="#/add/npc">Add NPCs</a></li>
        <li ng-class="{ active: isActive('/export')}"><a ng-href="#/export">Export Players</a></li>
        <li ng-class="{ active: isActive('/import')}"><a ng-href="#/import">Import Players</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right acme-navbar-text">
      </ul>
    </div>
  </div>
</nav>
