<div class="container">
    <div>
        <navbar />
    </div>
    <div class="row">
        <div id="deck-container" class="col-xs-12">
            <div class="row">
                <div class="col-sm-3 col-md-offset-1">
                    <button class="btn btn-primary btn-lg" id="deal-cards" ng-click="main.deal()">Deal</button>
                </div>
                <div class="col-sm-4 text-center">
                    <h4 id="dealt-card-output">{{ main.message }}</h4>
                </div>
                <div class="col-sm-4 col-md-3">
                    <button class="btn btn-danger btn-lg pull-right" id="reshuffle" ng-click="main.reshuffle()">Reshuffle</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div ng-repeat="(id,p) in main.players | orderBy: 'initiative' track by id" class="col-xs-12 col-sm-3">
                    <div class="well well-sm" ng-class="{'shaken': p.shaken > 0, 'wound-1': p.wound >= 1, 'wound-2': p.wound >= 2, 'wound-3': p.wound == 3, 'joker':p.initiative < 3, 'turn-taken':p.turnTaken == 1}">
                        <div class="row">
                            <div class="col-xs-8" ng-click="main.open('lg',p)">
                                <h4><small><span ng-show="p.type == 'wildcard'" class="glyphicon glyphicon-tower"></span></small> {{p.name }}</h4>
                            </div>
                            <div class="col-xs-4 text-right">
                                <div ng-show="p.quick == true">
                                    <button type="button" class="btn btn-info btn-sm" data-ng-if="p.initiative > 34" ng-click="main.discard(p)">
                                        <span class="glyphicon glyphicon-repeat"></span> {{p.initiative}}
                                    </button>
                                </div>
                                <div ng-hide="p.quick == true">
                                    {{p.initiative}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <ul class="list-unstyled list-inline">
                                    <li ng-if="p.shaken != 1">&nbsp;</li>
                                    <li ng-if="p.shaken == 1"><span class="glyphicon glyphicon-flash"></span><span class="glyphicon glyphicon-flash"></span><span class="glyphicon glyphicon-flash"></span></li>
                                </ul>
                            </div>
                            <div class="col-xs-6 text-right" ng-if="p.initiative < 3">
                                JOKER!!!
                            </div>
                        </div>
                        <div class="row">
                            <!-- Wildcard Wounds -->
                            <div class="col-xs-12" ng-show="p.type == 'wildcard'">
                                <p>Wounds:</p>
                                <div class="row">
                                    <div class="col-xs-2">
                                        <a ng-click="main.wound(p,p.wound - 1)"><span class="glyphicon glyphicon-minus"></span></a>
                                    </div>
                                    <div class="col-xs-8">
                                        <div class="progress">
                                            <div ng-class="{'show': p.wound >=1}" class="progress-bar wound-progress">
                                                <span>1</span>
                                            </div>
                                            <div ng-class="{'show': p.wound >=2}"  class="progress-bar progress-bar-warning wound-progress">
                                                <span>2</span>
                                            </div>
                                            <div ng-class="{'show': p.wound ==3}"  class="progress-bar progress-bar-danger wound-progress">
                                                <span>3</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-2">
                                        <a ng-click="main.wound(p,p.wound + 1)"><span class="glyphicon glyphicon-plus"></span></a>
                                    </div>
                                </div>
                            </div>
                            <!-- extra count -->
                            <div class="col-xs-12" ng-show="p.type == 'extras'">
                                <p>Amount of extras left:</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" style="width: {{ p.amount * 100 / p.amountOrigin }}%">
                                        <span>{{ p.amount }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12">
                                <div class="col-xs-6">
                                    <button type="button" class="btn btn-success btn-sm" ng-click="main.takeTurn(p)">End Turn</button>
                                </div>
                                <div class="col-xs-6">
                                    <button type="button" ng-click="main.shake(p)" ng-class="{active: p.shaken == 1}" class="btn btn-warning btn-sm pull-right" data-toggle="button" aria-pressed="false" autocomplete="off">
                                        <span class="glyphicon glyphicon-flash"></span> Shaken
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row-pad row">
                            <div class="col-xs-6">
                                <!--<button class="btn btn-default btn-sm" ng-click="main.damageLog(p)"><span class="glyphicon glyphicon-question-sign"></span></button>-->
                                <form ng-submit="main.hitMe(p,main.dmg[id])">
                                    <label for="hitMe-{{p.id}}"><span class="text-danger" ng-show="p.noDamage == 1">No Damage</span><span ng-show="p.noDamage != 1">Attack!</span></label>
                                    <input type="text" id="hitMe-{{p.id}}" class="form-control input-sm" ng-model="main.dmg[id]" ng-blur="p.noDamage = 0" ng-focus="main.dmg[id] = ''" placeholder="dmg-AP">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
