<div class="modal-header">
    <h3 class="modal-title">{{charModal.p.name}}</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-6">
            <ul class="list-unstyled">
                <li ng-repeat="stat in charModal.p.attributes"><strong class="text-capitalize">{{stat.name}}</strong>: d{{stat.value}}</li>
            </ul>
        </div>
        <div class="col-xs-6">
            <ul class="list-unstyled">
                <li ng-repeat="stat in charModal.p.attributes2"><strong class="text-capitalize">{{stat.name}}</strong>: d{{stat.value}}</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <div>
                <ul class="list-unstyled list-inline">
                    <li ng-repeat="skill in charModal.p.skills"><strong class="text-capitalize">{{skill.name}}</strong>: d{{skill.value}} <span ng-if="skill.plus > 0">+ {{skill.plus}}</span></li>
                </ul>   
            </div>
        </div>
        <div class="col-xs-12">
            <h5>Notes</h5>
            <p class="player-notes">{{charModal.p.notes}}</p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="charModal.cancel()">Close</button>
</div>

